services:
    postgres:
        image: postgres:16
        container_name: postgres-db
        restart: unless-stopped
        ports:
            - "6000:5432"
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin123
            POSTGRES_DB: mydb
        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata:
